@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-box-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  color: #000000;
  font-size: 16px;
  font-family: "Roboto";
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1340px;
  padding: 0px 90px;
  margin: 0px auto;
}
@media (max-width: 1160px) {
  [class*=__container] {
    max-width: 1160px;
    padding: 0px 30px;
  }
}
@media (max-width: 760px) {
  [class*=__container] {
    max-width: 760px;
    padding: 0px 20px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  z-index: 10;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
@media (max-width: 640px) {
  .header__body {
    height: 34px;
  }
}
.header__h1 {
  display: none;
}
@media (max-width: 640px) {
  .header__logo {
    display: none;
  }
}
.header__logo-mobile {
  display: none;
}
@media (max-width: 640px) {
  .header__logo-mobile {
    display: block;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 640px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.menu__body {
  margin: 0px 0px 0px 63px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}
@media (max-width: 640px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
}
@media (max-width: 1000px) {
  .menu__list {
    gap: 3vw;
  }
}
.menu__link {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #FE9013;
}
.menu__link.act {
  color: orange;
}
@media (max-width: 640px) {
  .menu__design {
    display: none;
  }
}
@media (max-width: 640px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 18px;
    height: 10px;
    z-index: 3;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 0;
    content: "";
    background-color: #ffffff;
    height: 2px;
    border-radius: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    top: 100%;
  }
  .menu__icon span {
    top: 50%;
  }
}

.main {
  background: url("../../images/main/giant_panda.jpg") 0 0/100% auto no-repeat;
}
@media (max-width: 1160px) {
  .main {
    background: url("../../images/main/giant_panda_1000.jpg") 0 0/100% auto no-repeat;
  }
}
.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10.375vw 0px 0px 0px;
}
@media (max-width: 1160px) {
  .main__body {
    padding: 122.8px 0px 0px 0px;
  }
}
.main__side-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.main__side-right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
}
.main__side-right::before {
  content: "";
  position: absolute;
  top: -74px;
  left: 0px;
  width: 29vw;
  height: 29vw;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 1160px) {
  .main__side-right::before {
    width: 367px;
    height: 367px;
  }
}

.side-right__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 4vw;
}
.side-right__title {
  position: relative;
  font-weight: 700;
  font-size: 6.656vw;
  line-height: 75%;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 3;
}
@media (max-width: 1160px) {
  .side-right__title {
    font-size: 8.55vw;
  }
}
.side-right__button {
  margin: 60px 0px 100px 0px;
}

.text-yellow {
  color: #FFEE2E;
}

.friend__button {
  text-align: center;
}

.slider__button {
  text-align: center;
}

.button__button-rectangle {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button__button-rectangle:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left top, left bottom, from(#E47209), to(#E47209));
  background: -o-linear-gradient(#E47209, #E47209);
  background: linear-gradient(#E47209, #E47209);
}
.button__button-rectangle:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background: -webkit-gradient(linear, left top, left bottom, from(#4B9200), to(#4B9200));
  background: -o-linear-gradient(#4B9200, #4B9200);
  background: linear-gradient(#4B9200, #4B9200);
}

.button__button-circle {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  width: 298px;
  height: 54px;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button__button-circle:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left top, left bottom, from(#E47209), to(#E47209));
  background: -o-linear-gradient(#E47209, #E47209);
  background: linear-gradient(#E47209, #E47209);
}
.button__button-circle:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background: -webkit-gradient(linear, left top, left bottom, from(#4B9200), to(#4B9200));
  background: -o-linear-gradient(#4B9200, #4B9200);
  background: linear-gradient(#4B9200, #4B9200);
}

.backstage__section {
  position: relative;
}
.backstage__section::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: url(../../images/main/section_article/flower_foto1.png) 100% 50% no-repeat;
  z-index: 50;
}
@media (max-width: 1550px) {
  .backstage__section::after {
    right: -50px;
  }
}
@media (max-width: 1420px) {
  .backstage__section::after {
    right: -90px;
  }
}
@media (max-width: 1160px) {
  .backstage__section::after {
    display: none;
  }
}
@media (max-width: 760px) {
  .backstage__section::after {
    display: block;
    top: -30px;
    right: 0px;
    background: url(../../images/main/section_article/flower_foto_640.png) 100% 50% no-repeat;
  }
}
@media (max-width: 615px) {
  .backstage__section::after {
    right: -2vw;
  }
}
.backstage__body {
  position: relative;
  padding: 140px 0px 180px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1150px) {
  .backstage__body {
    padding: 109px 0px 152px 0px;
  }
}
@media (max-width: 760px) {
  .backstage__image {
    display: none;
  }
}
.backstage__image img {
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  height: 403px;
}
@media (max-width: 1050px) {
  .backstage__image img {
    max-width: 455px;
  }
}
.backstage__article {
  padding: 0px 0px 0px 87px;
  min-width: 552px;
  max-width: 552px;
}
@media (max-width: 1050px) {
  .backstage__article {
    padding: 0px 0px 0px 30px;
    min-width: 485px;
    max-width: 485px;
  }
}
@media (max-width: 680px) {
  .backstage__article {
    padding: 0px 0px 0px 0px;
    min-width: 44vw;
  }
}
.backstage__tittle {
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
  padding: 0px 0px 20px 0px;
}
.backstage__text {
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.backstage__subtittle {
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  padding: 54px 0px 34px 0px;
}
@media (max-width: 760px) {
  .backstage__subtittle {
    padding: 30px 0px 20px 0px;
  }
}

.slider__section {
  position: relative;
}
.slider__section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/main/section_slider/palm_foto.png) 0% 100% no-repeat;
  z-index: -50;
}
.slider__section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/main/section_slider/strelitzia.svg) 100% 100% no-repeat;
  z-index: -50;
}
.slider__container {
  position: relative;
}
.slider__botton-right {
  position: absolute;
  top: 39.5%;
  right: 0px;
  cursor: pointer;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.slider__botton-right:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left top, left bottom, from(#4B9200), to(#4B9200));
  background: -o-linear-gradient(#4B9200, #4B9200);
  background: linear-gradient(#4B9200, #4B9200);
}
.slider__botton-right img {
  position: absolute;
  top: 40%;
  left: 35%;
}
.slider__botton-left {
  position: absolute;
  top: 39.5%;
  left: 0px;
  cursor: pointer;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.slider__botton-left:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left top, left bottom, from(#4B9200), to(#4B9200));
  background: -o-linear-gradient(#4B9200, #4B9200);
  background: linear-gradient(#4B9200, #4B9200);
}
.slider__botton-left img {
  position: absolute;
  top: 40%;
  left: 35%;
}
.slider__body {
  padding: 0px 0px 100px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__button {
  position: relative;
  margin: 0px auto 80px;
  z-index: 10;
}

.card-slider {
  position: relative;
  max-width: 366px;
  border: 1px solid #FA6F32;
  border-radius: 5px;
  overflow: hidden;
  z-index: 5;
  background-color: #fff;
}
.card-slider__image img {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.card-slider__image img:hover {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}
.card-slider__block-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 13px 14px 16px;
  z-index: 5;
  background-color: #fff;
}
.card-slider__block-text_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
.card-slider__block-text_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.slider__button {
  position: relative;
  z-index: 10;
}

.friend__section {
  background: -o-linear-gradient(134.25deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}
.friend__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 69px 0px 100px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
}
.friend__button {
  margin: 60px auto;
}

.block-text__title-orange {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #FE9013;
  padding: 41px 0px 30px;
  text-align: center;
}
.block-text__subtitle {
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  padding: 0px 0px 40px 99px;
}
.block-text__text-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  padding: 0px 0px 10px 99px;
}
.block-text__text {
  position: relative;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
  padding: 0px 170px 0px 99px;
}
.block-text__text a {
  -webkit-text-decoration: 1px underline orange;
          text-decoration: 1px underline orange;
}
.block-text__text_underline {
  color: #333B41;
  text-decoration: none;
}
.block-text__subtitle-h3 {
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  padding: 60px 0px 40px 0px;
  text-align: center;
}
.block-text__text-hl140 {
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.how-it-work__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how-it-work__item {
  width: 168px;
}
.how-it-work__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 168px;
  border: solid 1px orange;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-it-work__block-text {
  padding: 30px 0px 0px 0px;
}
.how-it-work__arrow {
  margin: 62px 30px;
}

.section__feedback {
  position: relative;
}
.section__feedback span {
  content: "";
  position: absolute;
  bottom: -130px;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/main/feedback/leav_foto.png) 100% 100% no-repeat;
  z-index: -50;
}

.feedback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback__title {
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
  padding: 140px 0px 46px;
  text-align: center;
}
.feedback__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  gap: 30px;
}
.feedback__line-scroll {
  width: 599px;
  height: 8px;
  border: 0.5px solid rgba(254, 189, 171, 0.7411764706);
  background: #F5F7F6;
  border-radius: 5px;
  margin: 21px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.feedback__line-scroll:hover {
  -webkit-transform: scaleY(1.5);
      -ms-transform: scaleY(1.5);
          transform: scaleY(1.5);
}
.feedback__line-active {
  background: #FE9013;
  border-radius: 5px;
  width: 115.19px;
  height: 100%;
}
.feedback__button {
  margin: 32px 0px 180px 0px;
  position: relative;
  z-index: 50;
}

.card__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F1F3F2;
  border-radius: 20px;
  border: 2px solid rgba(254, 189, 171, 0.7411764706);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  height: 391px;
}
.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 11px 16px;
}
.card__user-logo {
  padding-right: 10px;
}
.card__user-name {
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
.card__user-location {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.card__user-text {
  padding: 0px 15px 0px 16px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
  height: 309px;
  overflow: hidden;
}

.footer {
  background-color: #000000;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
  margin-bottom: 50px;
}
.footer__part1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__part3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__subscribe-text {
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
.footer__author {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.part1__logo {
  display: block;
}
.part1__button {
  margin: 68px 0px 44px 0px;
}
.part1__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.part1__icon-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.part1__icon-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}
.part1__icon-logo:hover {
  background: #4B9200;
}
.part1__icon-name {
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.part1__icon-name:hover {
  color: #4B9200;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-footer__link.act {
  color: orange;
}
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
  margin-top: 14px;
}
.subscribe-form__input {
  width: 228px;
  height: 42px;
  border: 1px solid #ff8102;
  border-radius: 2px;
  background-color: #000000;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  padding: 0px 7px 0px 10px;
}
.subscribe-form__input:focus {
  border: 1px solid #4B9200;
}
.subscribe-form__button {
  width: 129px;
  height: 42px;
}

.button-subscribe {
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  line-height: 140%;
  color: #000;
}
.button-subscribe:hover {
  color: #4B9200;
  border: 1px solid #4B9200;
}
.button-subscribe:active {
  color: #4B9200;
  border: 1px solid #4B9200;
}